body{
    background-color: #F2EAE2!important;  
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.main{
    background-color: white;
    height:450px ;
    width:600px ;
    display: flex;
    position: relative;
    border-radius: 10px;
}
img{
    height:450px ;
    width:300px ;
}
.description{
    width: 50%;
    padding: 32px;

}
h1{
    font-family: "Fraunces", sans-serif;
    font-weight: 700;
    color: #1C232B;
    margin-bottom: 20px;
    line-height: 2rem;
    margin-top: 10px;
}
h4{
    color: #6C7289;
    /* font-family: "Fraunces", serif; */
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 20px;
}
.notes{
    color: #6C7289;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5rem;
    margin-bottom: 20px;
}
.price1{
    color: #3D8168;
    font-family: "Fraunces", sans-serif;
    font-weight: 700;
    font-size: 32px;
    width: 50%;
    margin: 10px;
    margin-left: 0;

}
.price2{
    width: 50%;
    text-decoration: line-through;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #6C7289;
    font-size: 13px;
    margin-top:10px;
    margin-left:10px;
}
.pricetag{
    justify-content: space-between;
    display: flex;
    line-height: 1rem;
    margin-bottom: 10px;
}

button{
    height: 48px;
    width: 236px;
    background-color: #3D8168;
    color: white;
    border-radius: 10px;
    border: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 14px;
    margin-top: 20px;
}























@media screen and (max-width: 576px) {
    body {
        img {
              width: 100%;
              border-top-left-radius: 10px;
              border-top-right-radius: 10px;
        }
         .main{
            width: 100%;
            height: auto;
            display: inline;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
      } 
      .description{
        width: auto;
        padding: 32px;
      }

        }
    }



/* 
@media screen and (min-width: 768px) and (max-width: 1440px) {
     {
        
              
    }
}  */